button {
    padding: 13px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(47, 46, 46);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(261, 88%, 65%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(191, 24, 220) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(261, 67%, 51%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(209, 31, 237) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  